In [20]:
import pandas as pd
import numpy as np

In [21]:
xx = np.array([1,2,None,3])

In [22]:
df = pd.DataFrame(xx)

In [23]:
df[0]=pd.to_numeric(df[0],errors='coerce')

In [24]:
df

     0
0  1.0
1  2.0
2  NaN
3  3.0

In [25]:
#df.replace('None',np.nan)

In [26]:
df.to_stata('test.dta')